body {
    background-image:url(./images/news-bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}
ul {
    list-style: none;
    display:flex;
}
.header {
    display: flex;
    justify-content:space-between;
    align-items: center;
}
.headerlogo {
    height: 20%;
    width: 20%;
    margin-left: 80px;
}
.logo {
    max-width: 200px;
    min-width: 100px;
}
.headerlist {
    margin-right: 80px;
    font-weight: 500;
    
}
li {
    padding:20px;
    font-size: 20px;
}